{% extends 'main/index.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="mb-5"></div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Дата и время</th>
            <th scope="col">Статус</th>
            <th scope="col">Ответ сервера</th>
            <th scope="col">Клиент</th>
        </tr>
        </thead>
        <tbody>
        {% for attempt in object_list %}
        <tr>
            <td>{{ attempt.last_attempt_date }}</td>
            <td>{{ attempt.get_status_display }}</td>
            <td>{{ attempt.server_response }}</td>
            <td>{{ attempt.client }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="mb-3"></div>
<a class="btn btn-light" href="{% url 'mailings:mails' %}">Назад</a>
{% endblock %}
