{% extends 'main/index.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    <p class="lead">{{ object.subject }}</p>
  </div>
  <div class="card-body">
    <p class="card-text">{{ object.body }}</p>
  </div>
<a class="btn btn-light" href="{% url 'mailings:mailing_create' mail.slug %}">Рассылка</a>
</div>
<div class="mb-3"></div>
<a class="btn btn-light" href="{% url 'mailings:mail_update' mail.slug %}">Редактировать</a>
<a class="btn btn-light" href="{% url 'mailings:mail_delete' mail.slug %}">Удалить</a>
<a class="btn btn-light" href="{% url 'mailings:mails' %}">Назад</a>
{% endblock %}