{% extends 'main/index.html' %}
{% load filters %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    {% if user|has_group:'manager' %}
    <h1 class="display-6">Все рассылки</h1>
    <div class="mb-5"></div>
    <table class="table table-hover">
        {% for mailing in object_list %}
        <tbody>
        <tr>
            <td><a href="{% url 'mailings:mailing_update' pk=mailing.pk %}"
                   class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover px-2">
                {{ mailing.get_status_display }}</a></td>
            <td>{{ mailing.first_send_date }}</td>
            <td>{{ mailing.get_frequency_display }}</td>
            <td>{{ mailing.mail }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}