{% extends 'main/index.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 col-md">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <p class="card-text">Действительно хотите удалить рассылку <{{ object.mail }}>?</p>
                    {% csrf_token %}
                </div>
                <button type="submit" class="btn btn-light">Удалить</button>
                <a href="{% url 'mailings:mailing_detail' pk=object.id %}" class="btn btn-light">Назад</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}