{% extends 'main/index.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 col-md">
            <form method="post" enctype="multipart/form-data">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if error %}
                    <p>{{ error }}</p>
                    {% endif %}
                    <input type="email" class="form-control" name="email" id="email" placeholder="введите email">
                    <div class="mb-3"></div>
                    <button type="submit" class="btn btn-light">
                        отправить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}