{% extends 'main/index.html' %}
{% block content %}
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-6 col-md">
                <form method="post" enctype="multipart/form-data">
                    Новый пароль отправлен вам на почту
                    <div class="mb-3"></div>
                    <a href="{% url 'users:login' %}" class="btn btn-light">Продолжить</a>
                </form>
            </div>
        </div>
    </footer>
</div>
{% endblock %}