{% extends 'main/index.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 col-md">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                {% if user.is_authenticated %}
                <button type="submit" class="btn btn-light">
                    Сохранить
                    {% else %}
                <button type="submit" class="btn btn-light">
                    Зарегистрироваться
                    {% endif %}
                </button>
                <a href="{% url 'users:users' %}" class="btn btn-light">Назад</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}